*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

/*.preload{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #77b3d4;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s ease-in-out;
}

.preload img {
  animation: spin 3s ease-in-out;
  transition: all;
  width: 150px;
  margin: 0 auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }}
*/


nav{
    position: absolute;
    top: 0%;
    background-color: rgb(216, 185, 195,0.7);
    width: 100%;

    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-right: 30px;

}
ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 15px;
    color: #363062;
    transition: .5s;
}

ul li a:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3px;

}

main{
    
   font-family: 'Snowburst One', cursive;
   background: radial-gradient(#d8b9c3, #4d4c7d); 
   align-items: center;
   justify-content: space-between;
   display: flex;
   color: white;
   font-style: italic;

}

.welcome{
align-items: center;
justify-items: center;
display: flex;
width: 100%;
height: 450px;
font-size: 50px;
font-weight: 100;
margin: 80px;

}

.logo{
height: 25px;

}




.img{
justify-content: center;
position: relative;
display: flex;
height: 400px;
margin-right: 40px;
padding-top: 100px;
animation: loli 4s ease-in-out infinite;
}

@keyframes loli {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-80px);
  }
  
}

.shadow{
background-color: rgba(0, 0, 0, 0.15);
width: 150px;
height: 40px;
border-radius: 50%;
position: absolute;
margin-left: 68px;
filter: blur(1px);
animation: shadow 4s ease-in-out infinite;
}

@keyframes shadow {
0%, 100%{
  transform: scale(0.5);
}
}


#categoryGrid {
    margin-top: 10px 10px;
    background-color: #cfc1cf;
    display: grid;
align-items: center;
background: size 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "lefttop righttop"
    "leftmiddle rightmiddle"
    "leftbottom rightbottom"
    "leftbottom2 rightbottom2";
  }
  
  #lefttop:hover{
    border: 5px double rgb(255, 255, 255,0.7);

  }
  #rightmiddle:hover{
    border: 5px double rgb(255, 255, 255,0.7);}

    #leftbottom:hover{
        border: 5px double rgb(255, 255, 255,0.7);}

  #rightbottom2:hover{
        border: 5px double rgb(255, 255, 255,0.7);}

  #lefttop{
    grid-area: lefttop;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 90%;
margin-left: 100px;
margin-top: 50px;
background-image: url("../imagges/travel.jpg"); 
border-radius: 20px;
align-items: center;
  
  }
  #righttop {
    grid-area: righttop;
    border-radius: 20px;
  align-content: center;
  text-align: center;
 margin-right: 100px;
  font-size: 24px;
  width: 80%;
  height: 60%;
padding: 50px;
  }
  
  #leftmiddle {
    grid-area: leftmiddle;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 20px;
    margin-left: 100px;
    padding: 50px;
   margin-left: 100px;
   margin-top: 50px;
    font-size: 24px;
    width: 80%;
    height: 60%;
    text-align: center;
  }

  #rightmiddle{
grid-area: rightmiddle;
   align-items: center;
   justify-content: center;
   
    width: 80%;
    height: 90%;
margin-top: 50px;
background-image: url("../imagges/fruit.jpg"); 
border-radius: 20px;

  }
  
  #leftbottom {
    grid-area: leftbottom;
    width: 80%;
    height: 90%;
    margin-left: 100px;
margin-top: 50px;
background-image: url("../imagges/HEALTH.png"); 
border-radius: 20px;
  }
  
  #rightbottom{
    grid-area: rightbottom;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 20px;
    align-content: center;
    margin-top: 50px;
    text-align: center;
   margin-right: 130px;
    font-size: 24px;
    width: 80%;
    height: 60%;
    padding: 50px;
  }

  #leftbottom2 {
    grid-area: leftbottom2;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 20px;
   text-align: center;
   margin-left: 100px;
    font-size: 24px;
    width: 80%;
    height: 60%;
    padding: 50px;
  }
  
  #rightbottom2 {
    grid-area: rightbottom2;
    background-image: url("../imagges/MOCK.PNG"); 
    width: 80%;
    height:90%;
  
    border-radius: 20px;
    border-color: white;
    border: 2px;
    align-items: center;
    align-content: center;
  }
  
  
  .categoryGridArea {
    background-position: center;
    background-size: cover;
   background-color: rgb(255, 255, 255,0.2);
    margin: 5px;
    cursor: pointer;
    display: grid;
    
  }

  
footer{
 background-color: #4d4c7d ; 
color: #d8b9c3;
font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;  height: 200px;
 
}
  
.CONTAINER{

justify-items: center;
}

.footerleft{
    float: left;
    margin-top: 0;
}


.footerright a{
    display: flex;
   justify-content: center;
    color: #d8b9c3;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 px;
    transition: .5s;
    
}

.span{
margin-left: 20px;
}

.a{
align-items: right;


}
.footerright a:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3px;
  
}

#about {
  margin-top: 10px 10px;
  background-color: #cfc1cf;
  display: flex;
align-items: center;
width: 100%;
height: 700px;  
}

#contact {
color: #4d4c7d;
  background-color: #cfc1cf;
  display: flex;
padding-top: 200px;
width: 100%;
height: 700px;  
justify-content: center;
}

#contact input,
#contact textarea{
width: 100%;
padding: 10px;
border: 1px solid black;
}
.container2{
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
padding: 300px;
font-size: medium;
}
.infoleft{
 padding: 0%;
}

.inforight{
  display: flex;
  margin-bottom: 20px;
 
}

@media only screen and (max-width: 600px) {
  #about {
    background-color: #363062;
    color: #d8b9c3;
    
  }

  .container2{
    display: flex;
  width: 100%;
  height: 1000px;
font-size: medium;
  }
}